/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
     @include placeholder{
      opacity: 1;color: #a5aeb7;
    } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input,
select,
textarea,
button {
  font: 14px/1.4 Arial, Helvetica, sans-serif; }
  input:hover, input:focus, input:active,
  select:hover,
  select:focus,
  select:active,
  textarea:hover,
  textarea:focus,
  textarea:active,
  button:hover,
  button:focus,
  button:active {
    outline: 0; }

body {
  font: 14px/1.4 Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff; }

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }
  hr:before {
    display: table;
    content: ""; }
  hr:after {
    display: table;
    clear: both;
    content: ""; }

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .browserupgrade a {
    font-weight: bold;
    color: #ff0; }

.cf:before {
  display: table;
  content: ""; }

.cf:after {
  display: table;
  clear: both;
  content: ""; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 21px; }

h3, .h3 {
  font-size: 16px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 12px; }

h6, .h6 {
  font-size: 11px; }

a {
  color: #0722d5;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0; }
  a:focus {
    text-decoration: none; }

a[href^=tel] {
  cursor: default; }

p {
  margin: 0 0 0.7em; }

small {
  font-size: 90%; }

blockquote {
  margin: 0; }

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

dd {
  margin-left: 0; }

tt,
code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Arial, Helvetica, sans-serif; }

.primary-head {
  padding-top: 20px;
  position: relative; }
  .primary-head h3 {
    font: 600 28px/33px "Poppins", sans-serif;
    color: #1B1E30; }
  .primary-head:before {
    content: "";
    width: 15px;
    height: 5px;
    background-color: #0722D5;
    position: absolute;
    top: 0; }
  .primary-head h2 {
    font: 700 26px/33px "Poppins", sans-serif;
    color: #1B1E30;
    margin-bottom: 10px; }
  .primary-head strong {
    font: 600 18px/27px "Manrope", sans-serif;
    color: #9f9f9f;
    margin-bottom: 10px;
    display: inline-block; }

p {
  font: 17px/23px "Roboto", sans-serif;
  color: #869ABC; }

.main {
  margin-left: 282px;
  -moz-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  -webkit-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
  padding: 0px; }

.input-holder {
  position: relative; }

.form_control {
  background: #F5F5F5;
  height: 50px;
  border: 0;
  width: 100%;
  padding: 15px;
  font: 500 13px/20px "Poppins", sans-serif;
  color: #333;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all; }
  .form_control:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem #f0f1f3;
    box-shadow: 0 0 0 0.25rem #f0f1f3; }

.gradient-btn {
  background: transparent -webkit-linear-gradient(352deg, #06C1CF 0%, #7B04D9 77%, #7C01D9 100%) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(352deg, #06C1CF 0%, #7B04D9 77%, #7C01D9 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(98deg, #06C1CF 0%, #7B04D9 77%, #7C01D9 100%) 0% 0% no-repeat padding-box;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  color: #fff;
  font: 400 14px/21px "Poppins", sans-serif;
  text-transform: uppercase; }
  .gradient-btn:hover {
    opacity: 0.9;
    color: #fff; }
  .gradient-btn a {
    color: #fff;
    width: 100%;
    text-align: center; }

.sctn-scnd {
  position: relative; }
  .sctn-scnd:before {
    content: "";
    background-color: #f1f5fc;
    position: absolute;
    height: 90%;
    width: 50%;
    right: 0; }

.sign-up-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.list-style ul li {
  list-style: none;
  position: relative;
  color: #525252;
  font: 12px/17px "Poppins", sans-serif;
  padding-left: 18px;
  margin-bottom: 15px; }
  .list-style ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #01A3FF;
    position: absolute;
    left: 0;
    top: 5px; }

.tab_menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0; }
  .tab_menu ul li {
    position: relative;
    margin-right: 80px; }
    .tab_menu ul li button {
      border: 0;
      font: 600 18px/23px "Roboto", sans-serif;
      background-color: #fff;
      color: #617392;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 35px;
      padding: 0 10px;
      border: 0 !important;
      margin-bottom: 0 !important;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      -o-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all; }
      .tab_menu ul li button span {
        color: #617392;
        margin-left: 10px; }
      .tab_menu ul li button:after {
        width: 0; }
      .tab_menu ul li button.active {
        color: #1CC6D3;
        position: relative; }
        .tab_menu ul li button.active:after {
          content: "";
          background-color: #1CC6D3;
          border-radius: 24px;
          height: 4px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%; }
      .tab_menu ul li button:hover {
        color: #1CC6D3; }
        .tab_menu ul li button:hover:after {
          content: "";
          background-color: #1CC6D3;
          border-radius: 24px;
          height: 4px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%; }

.more {
  font: 500 16px/20px "Roboto", sans-serif;
  color: #1CC6D3; }
  .more:hover {
    opacity: 0.8; }
  .more a {
    color: #1CC6D3; }
  .more img {
    margin-left: 10px; }

.title-area {
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .title-area h1 {
    font: 600 20px/27px "Roboto", sans-serif;
    color: #617392;
    margin-bottom: 0; }

.content-area {
  padding-left: 30px;
  padding-right: 30px; }

.content-area-main {
  padding-left: 20px;
  padding-right: 20px; }

.more {
  margin-left: auto; }

.table-footer {
  margin-top: 40px;
  text-align: right;
  margin-bottom: 24px; }

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #ddd;
  box-shadow: inset 0 0 5px #ddd;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d8e0;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d8e0; }

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 5px; }
  .star-rating i {
    font-size: 18px;
    color: #f2c85b; }
  .star-rating .not-fill {
    color: #a5acb8; }

.custom-drop {
  margin-left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .custom-drop .btn {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    color: #617392;
    font: 500 14px/17px "Roboto", sans-serif; }
    .custom-drop .btn:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .custom-drop .dropdown-item {
    padding: 0.25rem 12px;
    color: #617392;
    font: 400 13px/17px "Roboto", sans-serif; }
    .custom-drop .dropdown-item i {
      margin-right: 8px; }
    .custom-drop .dropdown-item:active {
      background-color: #e9ecef; }
  .custom-drop .user-profile {
    border: 2px solid #617392;
    background: #E8F0FF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .custom-drop .dropdown-menu {
    margin-top: 10px !important;
    min-width: 125px !important;
    border: 1px solid #00000012;
    -webkit-box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.18);
    inset: 0px auto auto 0px !important;
    -webkit-transform: translate(-13px, 33px) !important;
    -ms-transform: translate(-13px, 33px) !important;
    transform: translate(-13px, 33px) !important; }

.dashboard-header {
  position: relative;
  min-height: 82px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #E8F0FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  z-index: 1; }
  .dashboard-header .hdg {
    font: 300 24px/27px "Roboto", sans-serif;
    color: #617392; }
  .dashboard-header .right-sctn {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .dashboard-header .right-sctn .search-otr {
      border: 2px solid #E8F0FF;
      border-radius: 13px;
      background: #F9FBFF;
      width: 350px;
      margin-right: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      .dashboard-header .right-sctn .search-otr ::-webkit-input-placeholder {
        opacity: 1;
        color: #617392; }
      .dashboard-header .right-sctn .search-otr :-moz-placeholder {
        opacity: 1;
        color: #617392; }
      .dashboard-header .right-sctn .search-otr ::-moz-placeholder {
        opacity: 1;
        color: #617392; }
      .dashboard-header .right-sctn .search-otr :-ms-input-placeholder {
        opacity: 1;
        color: #617392; }
      .dashboard-header .right-sctn .search-otr i {
        margin-left: 18px;
        margin-right: 10px; }
      .dashboard-header .right-sctn .search-otr input {
        border: 0;
        background: #F9FBFF;
        height: 44px;
        font: 15px/23px "Roboto", sans-serif;
        color: #617392;
        width: 100%;
        padding-right: 15px; }
    .dashboard-header .right-sctn .notify {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; }
      .dashboard-header .right-sctn .notify .count {
        width: 22px;
        height: 22px;
        border: 2px solid #FFFFFF;
        background: #1CC6D3;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        right: -11px;
        top: -4px; }
        .dashboard-header .right-sctn .notify .count span {
          color: #fff;
          font: 500 12px/12px "Roboto", sans-serif; }

.primary-btn {
  font: 500 14px/18px "Roboto", sans-serif;
  background-color: #1CC6D3;
  border-radius: 4px;
  height: 36px;
  min-width: 117px;
  color: #fff;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .primary-btn:hover {
    -webkit-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.48);
    color: #fff; }

.cancel-btn {
  background-color: #E8F0FF !important;
  color: #617392 !important;
  min-width: 81px; }
  .cancel-btn:hover {
    opacity: 0.8;
    -webkit-box-shadow: 0px 3px 12px -5px #00000017 !important;
    box-shadow: 0px 3px 12px -5px #00000017 !important; }

.cover-grp {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 18px; }

.darck-drop .btn {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #A1AFC7;
  color: #fff;
  height: 36px;
  min-width: 100px;
  font: 500 14px/17px "Roboto", sans-serif; }
  .darck-drop .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .darck-drop .btn span {
    margin-right: 5px; }

.darck-drop .dropdown-item {
  padding: 0.25rem 12px;
  color: #617392;
  font: 400 13px/17px "Roboto", sans-serif; }
  .darck-drop .dropdown-item:active {
    background-color: #e9ecef; }

.darck-drop .dropdown-menu {
  min-width: 125px !important;
  border: 1px solid #00000012;
  -webkit-box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.18); }

.link-cover .link-style {
  color: #1CC6D3;
  text-decoration: underline; }

.pagination-otr {
  border: 2px solid #E8F0FF;
  border-top: 0;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px; }
  .pagination-otr .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .pagination-otr .pagination li .lft {
      display: inline-block;
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      margin-right: 3px !important; }
    .pagination-otr .pagination li .rgt {
      display: inline-block;
      -ms-transform: rotate(-270deg);
      transform: rotate(-270deg);
      -webkit-transform: rotate(-270deg);
      margin-left: 3px !important; }
  .pagination-otr nav {
    margin-left: auto; }
    .pagination-otr nav .page-item {
      margin: 0 4px;
      font: 500 13px/17px "Roboto", sans-serif; }
      .pagination-otr nav .page-item .page-link {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 2px solid #E8F0FF;
        color: #617392;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .pagination-otr nav .page-item:first-child .page-link, .pagination-otr nav .page-item:last-child .page-link {
        border: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        color: #A1AFC7;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .pagination-otr nav .page-item:first-child .page-link:hover, .pagination-otr nav .page-item:last-child .page-link:hover {
          color: #333; }
      .pagination-otr nav .page-item.active .page-link {
        color: #fff;
        background-color: #1CC6D3; }
    .pagination-otr nav .page-link:focus {
      -webkit-box-shadow: 0 0 0 0.25rem #1cc6d354;
      box-shadow: 0 0 0 0.25rem #1cc6d354; }

.search-otr {
  border: 2px solid #E8F0FF;
  padding: 0 10px;
  border-radius: 4px;
  width: 237px; }
  .search-otr input {
    height: 34px;
    border: 0;
    font: 500 12px/15px "Roboto", sans-serif;
    color: #617392; }

.rgt-scnt .search-otr {
  margin-right: 24px;
  width: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .rgt-scnt .search-otr input {
    width: 100%; }

.add-btn {
  background-color: #1CC6D3;
  border-radius: 4px;
  color: #fff;
  font: 500 14px/17px "Roboto", sans-serif;
  min-width: 180px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  border: 0; }
  .add-btn:hover {
    opacity: 0.8; }
  .add-btn i {
    margin-left: auto; }

.min-table-list {
  max-width: 690px; }
  .min-table-list ul {
    border-radius: 20px; }
    .min-table-list ul li {
      list-style: none;
      min-height: 70px;
      color: #617392;
      font: 500 14px/17px "Roboto", sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
      border-bottom: 2px solid #E8F0FF; }
      .min-table-list ul li:last-child {
        border-bottom: 0; }
      .min-table-list ul li .form-switch {
        margin-left: auto; }

.modal-link {
  color: #F14747;
  text-decoration: underline; }

.lgt-green {
  color: #1CC6D3 !important; }

.btn-01 {
  background-color: #1CC6D3;
  min-width: 170px;
  height: 36px;
  text-align: center;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font: 500 14px/17px "Roboto", sans-serif; }

.amzone-btn {
  min-width: 196px;
  height: 40px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FEEAAB), to(#F3CA4C)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(top, #FEEAAB 0%, #F3CA4C 100%) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(top, #FEEAAB 0%, #F3CA4C 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FEEAAB 0%, #F3CA4C 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #B79E68;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  color: #393939 !important;
  font: 15px/17px "Roboto", sans-serif; }
  .amzone-btn:hover {
    opacity: 0.9; }
  .amzone-btn img {
    width: 85px; }
  .amzone-btn i {
    position: absolute;
    right: 15px; }
    .amzone-btn i img {
      width: auto; }

.grid-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60% 40%)[2];
  grid-template-columns: repeat(2, 60% 40%);
  margin-bottom: 35px; }

.border-box {
  border: 2px solid #E8F0FF;
  border-radius: 20px;
  overflow: hidden; }
  .border-box .forms-area {
    padding: 30px 28px 0; }

.forms-area .btn-otr {
  margin-top: 32px;
  margin-bottom: 52px; }

.forms-area .steps-otr h2 {
  font: 700 14px/17px "Roboto", sans-serif;
  color: #1B1E30;
  margin-bottom: 14px; }

.forms-area .steps-otr p {
  font: 600 12px/17px "Roboto", sans-serif;
  color: #1B1E30;
  margin-bottom: 0; }

.steps-forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 42px; }

.grid-item {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3; }
  @media (max-width: 479px) {
    .grid-item {
      -ms-grid-column: auto;
      grid-column-start: auto;
      -ms-grid-column-span: NaN;
      grid-column-end: auto; } }

.main-content-area {
  position: relative; }

.custom-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1679px) {
    .custom-container {
      max-width: 1000px; } }
  @media (max-width: 1199px) {
    .custom-container {
      max-width: 850px; } }
  @media (max-width: 1023px) {
    .custom-container {
      max-width: 95%; } }
  @media (max-width: 767px) {
    .custom-container {
      max-width: 90%; } }

.custom-container-sm {
  max-width: 1000px; }

.sm-center-hdg {
  max-width: 485px;
  margin: 0 auto;
  text-align: center; }
  .sm-center-hdg h4 {
    font: 700 20px/24px "Roboto", sans-serif;
    color: #617392;
    margin-bottom: 25px;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sm-center-hdg h4:after {
      content: "";
      height: 3px;
      width: 22px;
      border-radius: 3px;
      background-color: #1CC6D3;
      position: absolute;
      bottom: -10px; }
  .sm-center-hdg p {
    font: 17px/23px "Roboto", sans-serif;
    color: #869ABC; }

.stylish-head {
  position: relative;
  z-index: 0;
  top: 15px;
  margin-bottom: 40px; }
  .stylish-head small {
    font: 200 30px/33px "Poppins", sans-serif;
    color: #cad3e2; }
  .stylish-head .h1 {
    font: 700 62px/62px "Manrope", sans-serif;
    margin-bottom: 0;
    background: transparent -webkit-linear-gradient(179deg, #7B01D9 44%, #1CC6D3 100%) 0% 0% no-repeat padding-box;
    background: transparent -o-linear-gradient(179deg, #7B01D9 44%, #1CC6D3 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(271deg, #7B01D9 44%, #1CC6D3 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .stylish-head .large {
    font: 200 134px/130px "Manrope", sans-serif;
    color: #e5eaf3; }

.half-sction {
  background-color: #f1f5fc; }

ul.list-item {
  list-style: none;
  position: relative;
  margin: 25px 0;
  padding-left: 15px; }
  ul.list-item li {
    font: 300 14px/30px "Manrope", sans-serif;
    color: #617392;
    padding-left: 35px;
    position: relative; }
    ul.list-item li::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 10px;
      background: #ccedff; }
    ul.list-item li:nth-child(even)::before {
      background: #01a3ff; }

.amzone-btn-otr {
  text-align: center; }
  .amzone-btn-otr .amzone-btn {
    margin: 0 auto 25px; }

.center-content {
  padding-top: 100px;
  text-align: center; }
  .center-content p {
    font: 300 20px/33px "Manrope", sans-serif; }
    .center-content p span {
      color: #F86E51; }

.btn-002 {
  font: 300 18px/33px "Manrope", sans-serif;
  background: #F86E51;
  height: 59px;
  min-width: 370px;
  padding: 5px 15px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all; }
  .btn-002:hover {
    color: #fff;
    opacity: 0.9; }

.amazon-design-element-one {
  background: url(../img/design-amazon-element-one.png) no-repeat left center;
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 20px; }
  .amazon-design-element-one .primary-head h3 {
    font: 300 27px/33px "Manrope", sans-serif; }
  .amazon-design-element-one .stylish-head .h1 {
    font: 700 45px/53px "Poppins", sans-serif; }

.lg-list-style {
  margin-top: 72px; }
  .lg-list-style ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-bottom: 70px; }
    .lg-list-style ul li i {
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .lg-list-style ul li .content {
      padding-left: 29px; }
      .lg-list-style ul li .content strong {
        margin-bottom: 8px;
        display: inline-block;
        color: #617392;
        font: 600 20px/23px "Poppins", sans-serif; }
      .lg-list-style ul li .content p {
        font: 300 15px/23px "Inter", sans-serif; }

.amazone-content-info {
  min-height: 770px !important; }
  .amazone-content-info .left-info {
    background: #fff !important;
    padding-right: 0 !important;
    text-align: right;
    padding-top: 0 !important; }
    .amazone-content-info .left-info:after {
      display: none; }
    .amazone-content-info .left-info:before {
      z-index: 0;
      content: "";
      background: #e3f8fa;
      width: 6px;
      bottom: 0;
      height: 290px;
      position: absolute;
      right: 0;
      width: 100%; }
    .amazone-content-info .left-info .primary-head {
      text-align: left; }
    .amazone-content-info .left-info .info-img {
      position: relative;
      z-index: 9; }
  .amazone-content-info .lg-list-style {
    padding-left: 65px;
    margin-top: 42px !important;
    max-width: 60%; }
    .amazone-content-info .lg-list-style ul li {
      margin-bottom: 40px; }
      .amazone-content-info .lg-list-style ul li i {
        margin-top: 8px; }
      .amazone-content-info .lg-list-style ul li .content p {
        font: 300 22px/33px "Inter", sans-serif;
        color: #617392; }

.no-bg:before {
  content: "";
  display: none !important; }

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .alert .close {
    border: 0;
    background-color: transparent;
    margin-left: auto;
    color: #4a4a4a; }
    .alert .close:hover {
      opacity: 0.8; }

.alerts-otr {
  max-width: 100%; }
  .alerts-otr ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 15px 10px; }
    .alerts-otr ul li {
      padding-left: 12px;
      padding-right: 12px;
      border: 1px solid #e8f0ff;
      border-radius: 12px;
      min-height: 53px; }
      .alerts-otr ul li:last-child {
        border: 1px solid #e8f0ff; }
      .alerts-otr ul li i {
        width: 30px;
        height: 30px;
        background: #1CC6D3;
        border-radius: 50%;
        margin-right: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #dff7f8;
        font-size: 12px; }
      .alerts-otr ul li.disable-switch i {
        background: #e5fcff;
        color: #30d4e0; }

.forms-3-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48% 1fr;
  grid-template-columns: 1fr 48% 1fr;
  grid-gap: 15px; }
  .forms-3-col .form_control {
    margin-bottom: 22px; }
  .forms-3-col .p-s-e {
    padding: 0 6.5px; }
  .forms-3-col .forms-main {
    margin: 0 -6.5px; }
    .forms-3-col .forms-main textarea {
      height: 70px !important;
      resize: none; }
  .forms-3-col .box-otr {
    background-color: #fff;
    border: 1px solid #E8F0FF;
    border-radius: 20px;
    padding: 30px;
    position: relative; }
  .forms-3-col .profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px; }
    .forms-3-col .profile-info .deatils {
      margin-top: 24px;
      margin-bottom: 10px; }
      .forms-3-col .profile-info .deatils strong {
        color: #1CC6D3;
        font: 500 24px/20px "Roboto", sans-serif; }
      .forms-3-col .profile-info .deatils p {
        font: 16px/23px "Roboto", sans-serif;
        color: #A0ACC5; }
    .forms-3-col .profile-info .ftr {
      height: 40px;
      margin-top: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-top: 1px solid #f5f8fd;
      width: 100%; }
      .forms-3-col .profile-info .ftr p {
        font: 12px/17px "Roboto", sans-serif;
        color: #dedede;
        margin-bottom: 0; }

.btn-light {
  background: #E8F0FF;
  border-radius: 4px;
  opacity: 1;
  color: #617392;
  padding: 7px 12px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 500 14px/20px "Roboto", sans-serif; }
  .btn-light:hover {
    background: #E8F0FF;
    opacity: 0.8;
    color: #617392; }

.btn-green {
  background: #1CC6D3;
  border-radius: 4px;
  opacity: 1;
  color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 500 14px/20px "Roboto", sans-serif; }
  .btn-green:hover {
    background: #1CC6D3;
    opacity: 0.8;
    color: #fff; }

.sub-heading {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E8F0FF;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sub-heading h4 {
    letter-spacing: 0px;
    color: #617392;
    font: 500 24px/35px "Roboto", sans-serif; }

.file-upload-inner .file-upload {
  position: relative;
  display: block;
  height: 100%;
  min-height: 190px;
  margin-bottom: 12px; }
  .file-upload-inner .file-upload .file-wrap {
    width: 100%;
    pointer-events: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 15px; }
    .file-upload-inner .file-upload .file-wrap img {
      margin-bottom: 20px; }
    .file-upload-inner .file-upload .file-wrap h4 {
      color: #1CC6D3;
      font: 500 14px/20px "Roboto", sans-serif;
      margin-bottom: 5px; }
    .file-upload-inner .file-upload .file-wrap p {
      color: #B9C8E1;
      font: 400 12px/15px "Roboto", sans-serif;
      margin-bottom: 0; }
  .file-upload-inner .file-upload .file-upload__label {
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    /* z-index: 1; */
    border: 1px solid #E6ECF8;
    border-radius: 14px;
    color: #000;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    outline: none;
    pointer-events: none;
    position: absolute;
    text-align: center;
    -webkit-user-select: none;
    white-space: nowrap; }
  .file-upload-inner .file-upload .file-upload__input {
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    color: transparent;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%; }
  .file-upload-inner .file-upload .updated-file {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 0;
    right: 0;
    text-align: center; }

.progress {
  margin-top: 15px;
  padding: 0;
  width: 100%;
  height: 2px;
  overflow: hidden;
  background: #fff;
  border-radius: 6px; }
  .progress .bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #1CC6D3; }
  .progress .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white; }

.progress-inner {
  border: 1px solid #E6ECF8;
  border-radius: 14px;
  padding: 15px;
  position: relative; }
  .progress-inner h4 {
    letter-spacing: 0px;
    color: #1CC6D3;
    font: 500 16px/22px "Roboto", sans-serif;
    margin-bottom: 5px; }
  .progress-inner small {
    letter-spacing: 0px;
    color: #B9C8E1;
    font: 300 12px/22px "Roboto", sans-serif; }
  .progress-inner .close {
    position: absolute;
    right: 10px;
    top: 10px; }

.w-m-y-otr {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #6173921A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .w-m-y-otr .btn-sm {
    font: 400 13px/17px "Roboto", sans-serif;
    min-width: 73px;
    height: 43px;
    color: #232425;
    border: none;
    padding: 0;
    border-radius: 0;
    -webkit-transition: 0.2s ease-out all;
    -moz-transition: 0.2s ease-out all;
    -ms-transition: 0.2s ease-out all;
    -o-transition: 0.2s ease-out all;
    transition: 0.2s ease-out all;
    background-color: #fff;
    border-right: 1px solid #6173921A; }
    .w-m-y-otr .btn-sm:last-child {
      border: 0; }
    .w-m-y-otr .btn-sm:hover {
      background-color: #1CC6D3;
      color: #fff; }
  .w-m-y-otr .active {
    background-color: #1CC6D3 !important;
    color: #fff !important; }

.feed-back {
  padding: 0 140px !important; }
  .feed-back h3 {
    margin-top: 5px;
    margin-bottom: 25px;
    font: 700 39px/42px "Manrope", sans-serif;
    display: inline-block;
    color: #1B1E30; }

.star-rating-control {
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 50px;
  padding: 0px 0px 0 20px; }
  .star-rating-control .star-rating {
    width: 280px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .star-rating-control .star-rating i {
      color: #08A7F2;
      font-size: 28px; }
    .star-rating-control .star-rating .not-fill {
      color: #a5acb8; }
  .star-rating-control .out-off {
    margin-left: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 20px;
    background-color: #e9e9e9; }
    .star-rating-control .out-off strong {
      font: 600 20px/23px "Manrope", sans-serif;
      color: #08A7F2; }

.all-notify-drop .dropdown-menu {
  width: 360px;
  -webkit-transform: translate(30px, 33px) !important;
  -ms-transform: translate(30px, 33px) !important;
  transform: translate(30px, 33px) !important;
  right: 0px !important;
  left: auto !important;
  border: 1px solid #eef4ff;
  padding: 20px;
  border-radius: 8px; }
  .all-notify-drop .dropdown-menu:before {
    content: "";
    background: url(../img/arrow-notify.png) no-repeat;
    width: 35px;
    height: 20px;
    position: absolute;
    top: -15px;
    right: 20px; }
  .all-notify-drop .dropdown-menu ul {
    max-height: 300px;
    overflow: auto; }
    .all-notify-drop .dropdown-menu ul li {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #e7effe;
      padding-bottom: 5px;
      margin-bottom: 10px; }
      .all-notify-drop .dropdown-menu ul li:last-child {
        border-bottom: 0; }
        .all-notify-drop .dropdown-menu ul li:last-child p {
          margin-bottom: 0; }
      .all-notify-drop .dropdown-menu ul li i {
        background-color: #1CC6D31A;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 12px; }
      .all-notify-drop .dropdown-menu ul li .content strong {
        font: 500 16px/23px "Roboto", sans-serif;
        color: #617392; }
      .all-notify-drop .dropdown-menu ul li .content p {
        font: 300 13px/15px "Roboto", sans-serif;
        color: #A0AEC7; }
    .all-notify-drop .dropdown-menu ul .no-data {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0; }
  .all-notify-drop .dropdown-menu .clear-all {
    border: 1px solid #6173924A;
    border-radius: 7px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #617392;
    font: 500 16px/20px "Roboto", sans-serif;
    height: 45px; }
    .all-notify-drop .dropdown-menu .clear-all:hover {
      background-color: #f7f7f7; }

@media (max-width: 1679px) {
  .all-notify-drop .dropdown-menu ul li .content strong {
    font: 500 14px/21px "Roboto", sans-serif; }
  .all-notify-drop .dropdown-menu ul li i {
    width: 34px;
    height: 34px; }
    .all-notify-drop .dropdown-menu ul li i img {
      width: 17px; }
  .all-notify-drop .dropdown-menu .clear-all {
    font-size: 14px;
    height: 40px; }
  .all-notify-drop .dropdown-menu {
    width: 320px;
    border: 1px solid #eef4ff;
    padding: 10px; }
  .star-rating-control .out-off strong {
    font: 600 17px / 23px Manrope, sans-serif; }
  .star-rating-control .star-rating i {
    font-size: 23px; }
  .feed-back {
    padding: 0px 100px !important; }
  .feed-back h3 {
    font: 700 33px/42px "Manrope", sans-serif;
    margin-bottom: 0px; }
  .w-m-y-otr .btn-sm {
    min-width: 65px;
    height: 37px; }
  .alerts-otr ul {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto; }
  .amazone-content-info .left-info .info-img {
    margin-bottom: 55px !important; }
  .amazone-content-info {
    min-height: 590px !important; }
  .amazone-content-info .left-info:before {
    height: 230px; }
  .amazone-content-info .lg-list-style ul li .content p {
    font: 300 17px/27px "Inter", sans-serif; }
  .amazon-design-element-one {
    background: url(../img/design-amazon-element-one.png) no-repeat -100px center !important; }
  .lg-list-style ul li i {
    width: 35px; }
  .lg-list-style ul li .content strong {
    font: 600 17px/20px "Manrope", sans-serif; }
  .lg-list-style ul li .content p {
    font: 300 14px/21px "Manrope", sans-serif; }
  .lg-list-style ul li {
    margin-bottom: 50px; }
  .custom-container-sm {
    max-width: 770px; }
  .lg-list-style {
    margin-top: 32px; }
  .amazon-design-element-one .primary-head h3 {
    font: 300 21px/27px "Manrope", sans-serif; }
  .center-content p {
    font: 300 17px/29px "Manrope", sans-serif; }
  .stylish-head small {
    font: 200 24px/24px "Manrope", sans-serif; }
  .btn-002 {
    font: 300 16px/29px "Manrope", sans-serif;
    height: 52px;
    min-width: 300px; }
  .stylish-head small {
    font: 200 24px/23px "Manrope", sans-serif; }
  .stylish-head .h1 {
    font: 800 43px/45px "Manrope", sans-serif; }
  .stylish-head .large {
    font: 200 73px/77px "Manrope", sans-serif; }
  .stylish-head small {
    font: 200 27px/28px "Manrope", sans-serif; }
  .stylish-head .h1 {
    font: 800 52px/52px "Manrope", sans-serif; }
  .stylish-head .large {
    font: 200 94px/93px "Manrope", sans-serif; }
  p {
    font: 15px/20px "Roboto", sans-serif; }
  .sm-center-hdg p {
    font: 15px/20px "Roboto", sans-serif; }
  .pagination-otr {
    border-width: 1px; }
  .min-table-list ul li {
    border-width: 1px;
    min-height: 60px; }
  .grid-area {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (65% 35%)[2];
    grid-template-columns: repeat(2, 65% 35%); }
  .border-box .forms-area {
    padding: 20px 18px 0; }
  .border-box {
    border-width: 1px; }
  .steps-forms {
    grid-column-gap: 13px; }
  .pagination-otr nav .page-item {
    font: 500 12px/17px "Roboto", sans-serif; }
  .pagination-otr nav .page-item .page-link {
    width: 29px;
    height: 29px; }
  .pagination-otr {
    height: 57px; }
  .primary-btn {
    font: 500 13px/18px "Roboto", sans-serif;
    height: 35px; }
  .darck-drop .btn {
    min-width: 90px;
    font: 500 13px/17px "Roboto", sans-serif; }
  .dashboard-header {
    min-height: 62px;
    padding-left: 20px;
    padding-right: 20px; }
  .dashboard-header .right-sctn .search-otr input {
    font: 13px/17px "Roboto", sans-serif;
    height: 34px; }
  .dashboard-header .hdg {
    font: 300 20px/27px "Roboto", sans-serif; }
  .star-rating i {
    font-size: 13px; }
  .main {
    margin-left: 222px; }
  .more {
    font: 500 14px/19px "Roboto", sans-serif; }
  .content-area {
    padding-left: 20px;
    padding-right: 20px; }
  .title-area {
    height: 64px; }
  .title-area h1 {
    font: 600 18px/27px "Roboto", sans-serif; }
  .primary-head h3 {
    font: 600 23px/29px "Poppins", sans-serif; }
  .sign-up-container {
    max-width: 1000px; }
  .gradient-btn {
    font-size: 13px; }
  .tab_menu ul li button {
    font: 600 14px/18px "Roboto", sans-serif;
    height: 28px;
    padding: 0 7px; }
  .tab_menu ul li button.active:after,
  .tab_menu ul li button:hover:after {
    height: 3px; }
  .tab_menu ul li {
    margin-right: 40px; } }

@media (max-width: 1281px) {
  .steps-forms {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  .alerts-otr ul {
    -ms-grid-columns: auto auto auto  auto;
    grid-template-columns: auto auto auto  auto; } }

@media (max-width: 1199px) {
  .feed-back {
    padding: 0px 40px !important; }
  .forms-3-col {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .alerts-otr ul {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto; }
  .amazon-design-element-one {
    background: url(../img/design-amazon-element-one.png) no-repeat -230px center !important; }
  .stylish-head small {
    font: 200 23px/28px "Manrope", sans-serif; }
  .steps-forms {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .grid-area {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50% 50%)[2];
    grid-template-columns: repeat(2, 50% 50%); }
  .dashboard-header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px; }
  .border-box .forms-main .form-check-cover {
    margin-top: 15px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3; }
  .border-box .forms-main .form-check-otr {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .border-box .forms-area .btn-otr {
    margin-top: 22px;
    margin-bottom: 42px; }
  .sign-up-container {
    max-width: 850px; }
  .pagination-otr {
    padding-left: 15px;
    padding-right: 15px; }
  .border-box .forms-area .btn-otr {
    margin-bottom: 15px; }
  .border-box .forms-area {
    padding: 20px 18px 10px; }
  .border-box .form_control {
    margin-bottom: 15px; } }

@media (max-width: 1023px) {
  .sign-up-container {
    max-width: 95%; }
  .amazone-content-info .lg-list-style {
    max-width: 100%; } }

@media (max-width: 991px) {
  .feed-back {
    padding: 40px 25px 40px !important; }
  .alerts-otr ul {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto; }
  .sctn-scnd {
    background: #e3f8fa; }
  .lg-list-style ul li .content {
    padding-left: 19px; }
  .amazone-content-info .lg-list-style ul li i {
    margin-top: 0; }
  .center-content {
    padding-top: 70px; }
  .center-content p {
    font: 300 16px/27px "Manrope", sans-serif; }
  .main {
    margin-left: 0px;
    margin-top: 0px; }
  .dashboard-header {
    position: static; }
  .border-box .forms-main .form-check-cover {
    -ms-grid-column-span: 2;
    grid-column-end: 2; }
  .grid-area {
    -ms-grid-columns: auto;
    grid-template-columns: auto; }
  .amazone-content-info .left-info .primary-head {
    display: block !important; }
  .amazone-content-info .left-info .info-img {
    display: none !important; }
  .amazone-content-info .left-info:before {
    display: none; }
  .amazone-content-info .left-info {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
  .amazone-content-info {
    min-height: auto !important; }
  .amazone-content-info .lg-list-style {
    padding-left: 10px; }
  .amazon-design-element-one {
    background: none !important;
    padding-left: 10px;
    padding-right: 10px; } }

@media (max-width: 767px) {
  .star-rating-control .star-rating {
    width: 150px; }
  .star-rating-control .star-rating i {
    font-size: 17px; }
  .forms-3-col {
    -ms-grid-columns: auto !important;
    grid-template-columns: auto !important; }
  .alerts-otr ul {
    -ms-grid-columns: auto !important;
    grid-template-columns: auto !important; }
  .amazon-design-element-one {
    padding-top: 40px; }
  .amazon-design-element-one .primary-head {
    margin-bottom: 35px; }
  .lg-list-style {
    margin-top: 0; }
  .lg-list-style ul li {
    margin-bottom: 15px; }
  .lg-list-style ul li .content {
    padding-left: 15px; }
  .amazone-content-info .lg-list-style ul li .content p {
    font: 300 15px/24px "Inter", sans-serif; }
  .amazone-content-info .lg-list-style {
    margin-top: 10px !important;
    padding-right: 10px; }
  .amazone-content-info .lg-list-style ul li {
    margin-bottom: 20px; }
  .lg-list-style ul li i {
    width: 30px; }
  .stylish-head small {
    font: 200 19px/23px "Manrope", sans-serif; }
  .btn-002 {
    font: 298 16px/29px "Manrope", sans-serif;
    height: 46px;
    min-width: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px; }
  .center-content {
    padding-top: 50px; }
  .half-sction:before {
    width: 100%; }
  .min-table-list ul li {
    min-height: 50px;
    padding-left: 15px;
    padding-right: 15px; }
  .border-box .forms-main .form-check-cover {
    margin-top: 0; }
  .sign-up-container {
    max-width: 90%; }
  .steps-forms {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .dashboard-header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 1.5px; }
  .dashboard-header .right-sctn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .dashboard-header .hdg {
    font: 300 23px/27px "Roboto", sans-serif; }
  .dashboard-header .right-sctn .search-otr {
    border: 1px solid #E8F0FF;
    width: auto; }
  .tab_menu ul li {
    margin-bottom: 25px; }
  .feed-back h3 {
    font: 700 26px/30px "Manrope", sans-serif;
    margin-bottom: 0px;
    margin-top: 0; } }

@media (max-width: 479px) {
  .all-notify-drop .dropdown-menu:before {
    right: auto;
    left: 30px; }
  .all-notify-drop .dropdown-menu {
    width: 300px;
    -webkit-transform: translate(229px, 33px) !important;
    -ms-transform: translate(229px, 33px) !important;
    transform: translate(229px, 33px) !important; }
  .stylish-head .h1 {
    font: 800 34px/40px "Manrope", sans-serif; }
  .stylish-head .large {
    font: 200 72px/74px "Manrope", sans-serif; }
  .border-box .forms-area .btn-otr {
    margin-top: 0; }
  .border-box .forms-main .form-check {
    margin-bottom: 15px; }
  .border-box .forms-main .form-check-otr {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .dashboard-header .right-sctn .search-otr {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }
  .dashboard-header .right-sctn .profile-drop .user-profile {
    border: 1px solid #617392;
    width: 26px;
    height: 26px; }
  .tab_menu ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .tab_menu ul li {
      margin-right: 0;
      margin-bottom: 15px; }
  .tab_menu ul li button {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 8px; } }

.nodata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 10px; }
  @media (min-width: 991px) {
    .nodata {
      min-height: calc(100vh - 70px); } }
  .nodata .nodata-image {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .nodata h2 {
    font-size: 40px;
    margin: 0px;
    font-weight: 600;
    color: #1CC6D3;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px; }
    @media (max-width: 991px) {
      .nodata h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 0px; } }
    @media (max-width: 767px) {
      .nodata h2 {
        font-size: 20px;
        line-height: normal; } }
    .nodata h2 span {
      font-weight: 500;
      color: #000; }
  .nodata p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000; }
    @media (max-width: 991px) {
      .nodata p {
        font-size: 15px;
        line-height: normal; } }
    @media (max-width: 767px) {
      .nodata p {
        font-size: 12px;
        line-height: normal; } }

.notify-drop .dropdown-menu {
  width: 300px;
  max-height: 300px;
  overflow-y: auto; }
  @media (min-width: 575px) {
    .notify-drop .dropdown-menu {
      -webkit-transform: translate(-270px, 33px) !important;
      -ms-transform: translate(-270px, 33px) !important;
      transform: translate(-270px, 33px) !important; } }
  @media (max-width: 560px) {
    .notify-drop .dropdown-menu {
      -webkit-transform: translate(-56px, 33px) !important;
      -ms-transform: translate(-56px, 33px) !important;
      transform: translate(-56px, 33px) !important; } }
  .notify-drop .dropdown-menu .dropdown-item {
    white-space: break-spaces;
    padding-left: 20px;
    position: relative;
    padding-bottom: 20px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #617392; }
    .notify-drop .dropdown-menu .dropdown-item::after {
      background-repeat: no-repeat;
      content: "";
      background-image: url(../img/notification-alert.svg);
      left: 4px;
      width: 12px;
      height: 12px;
      background-size: contain;
      position: absolute;
      top: 10px; }
    .notify-drop .dropdown-menu .dropdown-item .date {
      position: absolute;
      bottom: 0px;
      right: 10px;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      font-style: italic;
      color: #617392; }

@media (max-width: 767px) {
  .dashboard-header .right-sctn .search-otr {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 10px;
    width: 100%;
    margin-right: 0px; }
  .dashboard-header .right-sctn .notify, .dashboard-header .right-sctn .dropdown.all-notify-drop.custom-drop {
    margin-left: auto; }
  .dashboard-header .right-sctn .dropdown.notify-drop.custom-drop {
    margin-left: auto; } }

/*# sourceMappingURL=common.css.map */